version: "3.8"

services:
  app:
    build: .
    container_name: tracking-package-app
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
